@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lazy-Dog";
  src: url("/assets/fonts/lazy_dog.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-green-1: #80ffcc;
  --bg-green-2: #004630;
  --bg-green-3: #038041;

  --primary: #59b953;
  --secondary: #479442;
  --accent: #80c473;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.8s; /* Match your AOS default duration */
  transition-timing-function: ease;
}
